*.DS_Store
presentations/figures/unsupervised-5.pdf
presentations/figures/unsupervised-2.pdf
presentations/figures/unsupervised_1.pdf
presentations/figures/supervised_1.pdf
presentations/figures/supervised-3.pdf
presentations/figures/supervised-4.pdf
presentations/figures/supervised-5.pdf
presentations/figures/supervised_2.pdf
presentations/figures/supervised-regression-1.pdf
presentations/figures/supervised-regression-2.pdf
presentations/figures/supervised-regression-3.pdf
presentations/figures/supervised-regression-4.pdf
presentations/figures/supervised-regression-5.pdf
presentations/figures/unsupervised-3.pdf
presentations/figures/unsupervised-4.pdf
presentations/figures/coins.pdf
presentations/figures/logistic-4.pdf
presentations/figures/logistic-1.pdf
presentations/figures/logistic-2.pdf
presentations/figures/logistic-3.pdf
presentations/figures/linear-regression-underoverfit.pdf
presentations/figures/linear-regression-underoverfit-original-data.pdf
presentations/figures/linear-regression-underoverfit-newdata.pdf
presentations/figures/linear-regression-training-validation-set.pdf
presentations/figures/linear-regression-quadratic.pdf
presentations/figures/linear-regression-more-complex.pdf
presentations/figures/linear-regression-loss-validation.pdf
presentations/figures/linear-regression-learning-rate-low.pdf
presentations/figures/linear-regression-learning-rate.pdf
presentations/figures/linear-regression-learning-rate-high.pdf
presentations/figures/linear-regression-gradient-descent-1D.pdf
presentations/figures/linear-regression-gradient-descent-1D-4.pdf
presentations/figures/linear-regression-gradient-descent-1D-3.pdf
presentations/figures/linear-regression-gradient-descent-1D-2.pdf
presentations/figures/linear-regression-gradient-descent-1D-1.pdf
presentations/figures/linear-regression-dataset-partitions.pdf
presentations/figures/linear-regression-3.pdf
presentations/figures/linear-regression-3-lsonly.pdf
presentations/figures/linear-regression-2a.pdf
presentations/figures/linear-regression-2.pdf
presentations/figures/linear-regression-1.pdf
presentations/figures/gradient-descent-2D.pdf
